<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.mapper.MovieMapper">
    <select id="getMovieByStatus" parameterType="integer" resultType="com.swpu.entity.Movie">
        SELECT * FROM tb_movie WHERE status = #{status};
    </select>
</mapper>